.titleDelivery{
    margin-top: 50px;
    font-family: title;
    font-size: 48pt;
    margin-left: 50px;
}
.pageTitle{
    max-width: 1700px;
    height: 200px;
    background-color: antiquewhite;
    padding: 30px 100px;
}
.pageTitle p{
    text-transform: capitalize;
    font-family: title;
    font-size: 90pt;
}
.cont{
    margin-top: 50px;
    height: 2162px;
}
.cont p{
    margin-top: 20px;
    margin-bottom: 34px;
    font-family: nav;
    font-size: 28pt;
}
.delSp{
    margin-bottom: 25px;
    font-family: title;
    font-size: 48pt;
}
.cont li{
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: nav;
    font-size: 28pt; 
}