.pageTitle{
    max-width: 1700px;
    height: 200px;
    background-color: antiquewhite;
    padding: 30px 100px;
}
.pageTitle p{
    text-transform: capitalize;
    font-family: title;
    font-size: 90pt;
}
.catalog{
    width: 90%;
    height: max-content;
}
.prodLine{
    margin: 150px 0;
    display: flex;
    justify-content: space-around;
}
.product{
    width: 450px;
    height: 600px;
    color: rgb(114, 75, 62);
}
.inf{
    color: rgb(114, 75, 62);
    margin-top: 50px;
    text-align: center;
    font-size: 24pt;
    font-family: nav;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9{
    width: 450px;
    height: 450px;
    margin-bottom: 20px;
    background-color: bisque;
    background-size: 110% 110%;
    background-position: center;
    margin-bottom: 30px;
}
 .img1{
    background-image: url(http://fitnesshock.ru/upload/iblock/714/pgz73qz1zm22csu3ayi046qjnlp0mc2h.png);
}
.img2{
    background-image: url(http://fitnesshock.ru/upload/iblock/582/uwsrzt05wbjs18zneypuge8g8y0cjsux.jpg);
}
.img3{
    background-image: url(http://fitnesshock.ru/upload/iblock/8e5/pgsk7niuefv827ly14ux1tznlmrc46wz.jpg);
}
.img4{
    background-image: url(http://fitnesshock.ru/upload/iblock/99f/qio5ljg62g43vshi5bb99kb21icj6da3.png);
}
.img5{
    background-image: url(http://fitnesshock.ru/upload/iblock/0c9/m2stjc6qq9unm5dcq0bq1k0ho5fsungl.png);
}
.img6{
    background-image: url(http://fitnesshock.ru/upload/iblock/5d3/2chsuagsiqwdhf2lp0lu3fz58to9otz1.png);
}
.img7{
    background-image: url(http://fitnesshock.ru/upload/iblock/4b7/l9r5ptff76g8p5ss7syga5cmxho0pv0c.jpg);
}
.img8{
    background-image: url(http://fitnesshock.ru/upload/iblock/58f/7xqhfavkr3no3iyel1a0oqm0x1g4g0nd.jpg);
}
.img9{
    background-image: url(http://fitnesshock.ru/upload/iblock/bb3/gogpg8tjx3docoth1paihlvtskjfpd69.jpg);
} 
.product b{
    font-family: nav;
    font-size: 28pt;
    text-transform: capitalize;
}
.product p{
    font-family: nav;
    font-size: 18pt
}