.pageTitle{
    max-width: 1700px;
    height: 200px;
    background-color: antiquewhite;
    padding: 30px 100px;
}
.pageTitle p{
    text-transform: capitalize;
    font-family: title;
    font-size: 90pt;
}
.catalog{
    width: 90%;
    height: max-content;
}
.prodLine{
    margin: 150px 0;
    display: flex;
    justify-content: space-around;
}
.product{
    width: 450px;
    height: 600px;
    color: rgb(114, 75, 62);
}
.inf{
    color: rgb(114, 75, 62);
    margin-top: 50px;
    text-align: center;
    font-size: 24pt;
    font-family: nav;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9{
    width: 450px;
    height: 450px;
    margin-bottom: 20px;
    background-color: bisque;
    background-size: 100% 120%;
    background-position: bottom;
    margin-bottom: 30px; 
}
.img1{
    background-image: url(http://неванутришн.рф/upload/resize_cache/iblock/4da/1200_1200_140cd750bba9870f18aada2478b24840a/4da02143cc531d76d3f000aeae455bf4.jpg);
}
.img2{
    background-image: url(http://неванутришн.рф/upload/resize_cache/iblock/05b/1200_1200_140cd750bba9870f18aada2478b24840a/05b2332a1273334c8e605cecd271db90.jpg);
}
.img3{
    background-image: url(http://неванутришн.рф/upload/resize_cache/iblock/eaa/1200_1200_140cd750bba9870f18aada2478b24840a/eaa7817076e062eab27b1737ef326d83.jpg);
}
.img4{
    background-image: url(http://неванутришн.рф/upload/resize_cache/iblock/510/1200_1200_140cd750bba9870f18aada2478b24840a/510d56dd34cce30e0139e989479e0b12.jpg);
}
.img5{
    background-image: url(http://неванутришн.рф/upload/resize_cache/iblock/db4/1200_1200_140cd750bba9870f18aada2478b24840a/db4cae5c6fbbaedc75165af32596d37f.png);
}
.img6{
    background-image: url(http://неванутришн.рф/upload/resize_cache/iblock/a89/1200_1200_140cd750bba9870f18aada2478b24840a/a899ecf9eacc7710c04ad3e81b82a968.png);
}
.img7{
    background-image: url(http://неванутришн.рф/upload/resize_cache/iblock/658/1200_1200_140cd750bba9870f18aada2478b24840a/65806a96eb5799e07f5b51ce9ae1ed1d.png);
}
.img8{
    background-image: url(http://неванутришн.рф/upload/resize_cache/iblock/94d/1200_1200_140cd750bba9870f18aada2478b24840a/94d35a6f06f1a50790d976dd7d1fd51c.png);
}
.img9{
    background-image: url(http://неванутришн.рф/upload/resize_cache/iblock/bf8/1200_1200_140cd750bba9870f18aada2478b24840a/bf83b46d0e77f8273898e20cfc6bd385.png);
} 
.product b{
    font-family: nav;
    font-size: 28pt;
    text-transform: capitalize;
}
.product p{
    font-family: nav;
    font-size: 18pt
}